<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
  </script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>

<nav class="nav">
  <i class="uil uil-bars navOpenBtn"></i>
  <a href="#" class="logo">APPWEB MANKAR</a>
  <ul class="nav-links">

  </ul>
</nav>

<!-- start: Sidebar -->
<div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
  <div class="d-flex align-items-center p-3">
    <a href="#" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4"> MANKAR
    </a>
    <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
  </div>
  <ul class="sidebar-menu p-3 m-0 mb-0">
    <li class="sidebar-menu-item active">
      <a href="#">
        <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
        Home
      </a>
    </li>

    <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">
      Panel Administrativo
    </li>
    <li class="sidebar-menu-item">
      <a (click)="redireccionarMantenimientos()">
        <i class="ri-settings-line sidebar-menu-item-icon"></i>
        Mantenimientos
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a (click)="redireccionarRepostaje()">
        <i class="ri-gas-station-line sidebar-menu-item-icon"></i>
        Repostajes
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a (click)="redireccionarUnidades()">
        <i class="ri-truck-line sidebar-menu-item-icon"></i>
        Unidades
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a (click)="redireccionarTiposM()">
        <i class="ri-list-settings-line sidebar-menu-item-icon"></i>Tipos de
        mantenimientos
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a (click)="redireccionarRutas()">
        <i class="ri-road-map-line sidebar-menu-item-icon"></i>
        Rutas
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a (click)="redireccionarUsuarios()">
        <i class="ri-user-3-line sidebar-menu-item-icon"></i>
        Usuarios
      </a>
    </li>

    <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Apps</li>

    <li class="sidebar-menu-item">
      <a href="#">
        <i class="ri-mail-line sidebar-menu-item-icon"></i>
        Email
      </a>
    </li>
    <li class="sidebar-menu-item   ">
      <a href="#">
        <i class="ri-logout-box-line sidebar-menu-item-icon"></i>
        Desconectarse
      </a>
    </li>

  </ul>
</div>

<div class="sidebar-overlay"></div>
<!-- end: Sidebar -->


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">


    <!-- Modal ADD-->
    <div class="modal fade" id="agregarNuevoTipoRuta" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Ingreso Ruta
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <!-- salida -->
              <div class="form-group">
                <label for="salida">Salida:</label>
                <textarea id="salida" class="form-control" formControlName="salida"></textarea>
              </div>
              <!-- salida -->
              <!-- llegada -->
              <div class="form-group">
                <label for="llegada">Llegada:</label>
                <textarea id="llegada" class="form-control" formControlName="llegada"></textarea>
              </div>
              <!-- llegada -->
              <!-- Número de peajes -->
              <div class="form-group">
                <label for="npeajes">Número de peajes:</label>
                <input type="number" id="npeajes" class="form-control" formControlName="npeajes" />
              </div>
              <!-- Número de peajes -->
              <div class="form-group text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarModalBtn2>
                  Cerrar
                </button>
                <button type="submit" class="btn btn-primary">
                  Agregar Ruta
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>





    <!-- ----------------------------------------------------------------------- -->
    <!-- --------------------------Tabla LISTA RUTAS--------------------------------- -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <span class="h2">Lista de Rutas</span>
          <button style="background-color :#2c7bfe;" class="btn btn-success btn-lg float-right" data-bs-toggle="modal"
            data-bs-target="#agregarNuevoTipoRuta">
            <i class="fas fa-plus"></i> Agregar Ruta
          </button>
          <table class="table table-striped mt-4">

            <thead>
              <tr>
                <th class="px-4 py-3 title-font tracking-wider font-medium rounded-tl rounded-bl">
                  Nombre Ruta
                </th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">
                  Llegada
                </th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">
                  Salida
                </th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">
                  Numero de Peajes
                </th>

              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let rutas of rutas">
                <td data-bs-toggle="modal" data-bs-target="#detallerutaModal" (click)="verDetalles(rutas)">
                  {{ rutas.nombre }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#detallerutaModal" (click)="verDetalles(rutas)">
                  {{ rutas.llegada }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#detallerutaModal" (click)="verDetalles(rutas)">
                  {{ rutas.salida }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#detallerutaModal" (click)="verDetalles(rutas)">
                  {{ rutas.npeajes }}
                </td>

                <!--  <td>
                  <button (click)="confirmarEliminar(mantenimiento)">
                    <i class="fas fa-trash-alt fa-lg text-danger"></i>
                  </button>
                
                  <button
                    (click)="editarMantenimiento(mantenimiento)"
                    data-bs-toggle="modal"
                    data-bs-target="#editarMantenimientoModal"
                    class="ml-4"  
                  >
                    <i class="fas fa-edit fa-lg text-info mr-4"></i>
                  </button>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------MODAL DE VER DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="modal fade" id="detallerutaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLabel">
            Detalles de Ruta
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Id:</strong> {{ detalleruta?.id }}
            </li>
            <li class="list-group-item">
              <strong>Nombre:</strong> {{ detalleruta?.nombre }}
            </li>
            <li class="list-group-item">
              <strong>Punto de Salida:</strong> {{ detalleruta?.salida }}
            </li>
            <li class="list-group-item">
              <strong>Punto de Llegada:</strong> {{ detalleruta?.llegada }}
            </li>
            <li class="list-group-item">
              <strong>Numero de peajes:</strong> {{ detalleruta?.npeajes }}
            </li>
          </ul>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------FIN DE VER DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->



</section>