 
<nav class="nav">
  <i class="uil uil-bars navOpenBtn"></i>
  <a href="#" class="logo">APPWEB MANKAR</a>
  <ul class="nav-links">

  </ul>
</nav>

<!-- start: Sidebar -->
<app-sidebar></app-sidebar>

<div class="sidebar-overlay"></div>
<!-- end: Sidebar -->


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">


    <!-- Modal ADD-->
    <div class="modal fade" id="agregarNuevoTipoRuta" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Ingreso Ruta
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <!-- salida -->
              <div class="form-group">
                <label for="salida">Salida:</label>
                <textarea id="salida" class="form-control" formControlName="salida"></textarea>
              </div>
              <!-- salida -->
              <!-- llegada -->
              <div class="form-group">
                <label for="llegada">Llegada:</label>
                <textarea id="llegada" class="form-control" formControlName="llegada"></textarea>
              </div>
              <!-- llegada -->
              <!-- Número de peajes -->
              <div class="form-group">
                <label for="npeajes">Número de peajes:</label>
                <input type="number" id="npeajes" class="form-control" formControlName="npeajes" />
              </div>
              <!-- Número de peajes -->
              <div class="form-group text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarModalBtn2>
                  Cerrar
                </button>
                <button type="submit" class="btn btn-primary">
                  Agregar Ruta
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>





    <!-- ----------------------------------------------------------------------- -->
    <!-- --------------------------Tabla LISTA RUTAS--------------------------------- -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <span class="h2">Lista de Rutas</span>
          <button style="background-color :#2c7bfe;" class="btn btn-success btn-lg float-right" data-bs-toggle="modal"
            data-bs-target="#agregarNuevoTipoRuta">
            <i class="fas fa-plus"></i> Agregar Ruta
          </button>
          <div class="table-container mt-4">
            <table class="table table-striped mt-4">
              <thead class="thead-fixed">
                <tr>
                  <th class="sticky-top px-4 py-3 title-font tracking-wider font-medium rounded-tl rounded-bl text-center">
                    Nombre Ruta
                  </th>
                  <th class="sticky-top px-4 py-3 title-font tracking-wider font-medium text-center">
                    Llegada
                  </th>
                  <th class="sticky-top px-4 py-3 title-font tracking-wider font-medium text-center">
                    Salida
                  </th>
                  <th class="sticky-top px-4 py-3 title-font tracking-wider font-medium text-center">
                    Numero de Peajes
                  </th>
                  <th class="sticky-top px-4 py-3 title-font tracking-wider font-medium text-center">
                    Opciones
                  </th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let rutas of rutas">
                <td data-bs-toggle="modal" data-bs-target="#detallerutaModal" (click)="verDetalles(rutas)" class="text-center">
                  {{ rutas.nombre }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#detallerutaModal" (click)="verDetalles(rutas)" class="text-center">
                  {{ rutas.llegada }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#detallerutaModal" (click)="verDetalles(rutas)" class="text-center">
                  {{ rutas.salida }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#detallerutaModal" (click)="verDetalles(rutas)" class="text-center">
                  {{ rutas.npeajes }}
                </td>

                 <td class="text-center">
                  <button (click)="confirmarEliminar(rutas)">
                    <i class="fas fa-trash-alt fa-lg text-danger"></i>
                  </button>
                
                  <button
                    (click)="editarRutas(rutas)"
                    data-bs-toggle="modal"
                    data-bs-target="#editarRutaModal"
                    class="ml-4"  
                  >
                    <i class="fas fa-edit fa-lg text-info mr-4"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------MODAL DE VER DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="modal fade" id="detallerutaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLabel">
            Detalles de Ruta
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Id:</strong> {{ detalleruta?.id }}
            </li>
            <li class="list-group-item">
              <strong>Nombre:</strong> {{ detalleruta?.nombre }}
            </li>
            <li class="list-group-item">
              <strong>Punto de Salida:</strong> {{ detalleruta?.salida }}
            </li>
            <li class="list-group-item">
              <strong>Punto de Llegada:</strong> {{ detalleruta?.llegada }}
            </li>
            <li class="list-group-item">
              <strong>Numero de peajes:</strong> {{ detalleruta?.npeajes }}
            </li>
          </ul>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------FIN DE VER DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->

<!-- Modal de Editar Rutas -->
<div class="modal fade" id="editarRutaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalLabel">Editar Ruta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Formulario de edición -->
        <form [formGroup]="formularioEdicion" (ngSubmit)="guardarEdicionRuta()">
          <!-- Nombre de la Ruta -->
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la Ruta:</label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre"
              [value]="detalleruta?.nombre || ''" [placeholder]="
                detalleruta?.nombre
                  ? detalleruta.nombre
                  : 'Ingrese el nombre de la ruta'
              " />
          </div>

          <!-- Salida -->
          <div class="mb-3">
            <label for="salida" class="form-label">Punto de Salida:</label>
            <input type="text" id="salida" class="form-control" formControlName="salida"
              [value]="detalleruta?.salida || ''" [placeholder]="
                detalleruta?.salida
                  ? detalleruta.salida
                  : 'Ingrese el punto de salida'
              " />
          </div>

          <!-- Llegada -->
          <div class="mb-3">
            <label for="llegada" class="form-label">Punto de Llegada:</label>
            <input type="text" id="llegada" class="form-control" formControlName="llegada"
              [value]="detalleruta?.llegada || ''" [placeholder]="
                detalleruta?.llegada
                  ? detalleruta.llegada
                  : 'Ingrese el punto de llegada'
              " />
          </div>

          <!-- Número de Peajes -->
          <div class="mb-3">
            <label for="npeajes" class="form-label">Número de Peajes:</label>
            <input type="number" id="npeajes" class="form-control" formControlName="npeajes"
              [value]="detalleruta?.npeajes || 0" />
          </div>

          <!-- Botones para "Guardar" y "Cerrar" -->
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarModalBtnRuta>
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>



</section>