<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">
        Mantenimientos realizados
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        En este apartado podras ver todos los mantenimientos realizados a la
        flota de transporte MANKAR C.A.
      </p>
    </div>

    <!-- Modal ADD-->
    <div class="modal fade" id="agregarNuevoMantenimiento" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Ingreso Mantenimiento</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form [formGroup]="form2" (ngSubmit)="onSubmit()">
              <!-- Placa -->
              <label for="placa">Placa:</label>
              <select id="placa" formControlName="placa" class="form-control">
                <option value="" disabled selected>Selecciona una placa</option>
                <option *ngFor="let unidad of unidades$ | async" [value]="unidad.placa">{{ unidad.placa }}</option>
              </select>
              <!-- Descripción -->
              <div class="form-group">
                <label for="descripcion">Tipo de Mantenimiento:</label>
                <select id="descripcion" class="form-control" formControlName="descripcion">
                  <option value="" disabled selected>Selecciona un tipo de mantenimiento</option>
                  <option *ngFor="let tipoM of tiposM$ | async" [value]="tipoM.nombre">{{ tipoM.nombre }}</option>
                </select>
              </div>
              <!-- Kilometraje -->
              <div class="form-group">
                <label for="kilometraje">Kilometraje:</label>
                <input type="number" id="kilometraje" class="form-control" formControlName="kilometraje">
              </div>
              <!-- Próximo Cambio -->
              <div class="form-group">
                <label for="proxcambio">Próximo Cambio:</label>
                <input type="number" id="proxcambio" class="form-control" formControlName="proxcambio">
              </div>
              <!-- Fecha -->
              <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="datetime-local" id="fecha" class="form-control" formControlName="fecha">
              </div>
              <!-- Comentario -->
              <div class="form-group">
                <label for="comentario">Comentario:</label>
                <textarea id="comentario" class="form-control" formControlName="comentario"></textarea>
              </div>
              <!-- Imagen -->
              <div class="form-group">
                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" class="form-control" (change)="onFileSelected($event)"
                  accept="image/jpeg">
              </div>
              <div class="form-group">
                <label for="imagen2">Imagen 2:</label>
                <input type="file" id="imagen2" class="form-control" (change)="onFileSelected2($event)"
                  accept="image/jpeg">
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Enviar Mantenimiento</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!--     <div class="lg:w-2/3 w-full mx-auto overflow-auto"> -->
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <span class="h2">Lista de Mantenimientos</span>
          <button class="btn btn-success btn-lg float-right" data-bs-toggle="modal"
            data-bs-target="#agregarNuevoMantenimiento">
            <i class="fas fa-plus"></i> Agregar mantenimiento
          </button>
          <table class="table table-striped  content-table mt-4">
            <!--     <table class="mt-5 table-auto content-table twhitespace-no-wrap"> -->
            <!-- class="table table-striped mt-5" -->
            <thead>
              <tr>
                <th class="px-4 py-3 title-font tracking-wider font-medium rounded-tl rounded-bl">Placa</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">Kilómetraje Actual</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">Kilómetraje Próximo</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">Tipo mantenimiento</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">Fecha</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">Opciones</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let mantenimiento of mantenimientos">
                <td (click)="verDetalles(mantenimiento)" data-bs-toggle="modal"
                  data-bs-target="#detalleMantenimientoModal">{{ mantenimiento.placa }}</td>
                <td (click)="verDetalles(mantenimiento)" data-bs-toggle="modal"
                  data-bs-target="#detalleMantenimientoModal">{{ mantenimiento.kilometraje }}</td>
                <td (click)="verDetalles(mantenimiento)" data-bs-toggle="modal"
                  data-bs-target="#detalleMantenimientoModal">{{ mantenimiento.proxcambio }}</td>
                <td (click)="verDetalles(mantenimiento)" data-bs-toggle="modal"
                  data-bs-target="#detalleMantenimientoModal">{{ mantenimiento.descripcion }}</td>
                <td (click)="verDetalles(mantenimiento)" data-bs-toggle="modal"
                  data-bs-target="#detalleMantenimientoModal">{{ mantenimiento.fecha | date }}</td>
                <td>

                  <button (click)="confirmarEliminar(mantenimiento)">
                    <i class="fas fa-trash-alt fa-lg text-danger"></i>
                  </button>

                  <button (click)="editarMantenimiento(mantenimiento)" data-bs-toggle="modal"
                    data-bs-target="#editarMantenimientoModal">
                    <i class="fas fa-edit fa-lg text-info mr-4"></i>
                  </button>

                  <!-- <button class="btn btn-sm btn-primary" (click)="editarMantenimiento(mantenimiento)"(click)="openEditModal(editModal, mantenimiento)">
                  Editar
                  <i class="fa-solid fa-pencil"></i>
                </button> -->
                  <!-- <button class="btn btn-primary" id="detalleMantenimientoModal2" data-bs-toggle="modal" 
                data-bs-target="#detalleMantenimientoModal2" (click)="editarMantenimiento(mantenimiento)">
                  <i class="fas fa-plus"></i> Editar
                </button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>

    </div>
  </div>


  <!-- Modal para ver detalles -->
  <!--   <div class="modal fade" id="detalleMantenimientoModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel2">Detalles del Mantenimiento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form3" (ngSubmit)="onSubmit()">
        
          <div class="form-group">
            <label for="kilometraje">Kilometraje:</label>
            <input type="number" id="kilometraje" class="form-control" formControlName="kilometraje" [value]="editarMantenimiento?.kilometraje">
          </div>
          <div class="form-group text-center">

            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
  <!-- Modal para ver detalles -->
  <!--   <div class="modal fade" id="detalleMantenimientoModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles del Mantenimiento</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="kilometraje">Kilometraje:</label>
            <span>{{ detalleMantenimiento?.kilometraje }}</span>
          </div>
          <div class="form-group">
            <label for="proxcambio">Próximo Cambio:</label>
            <span>{{ detalleMantenimiento?.proxcambio }}</span>
          </div>
          <div class="form-group text-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!--  <div class="modal fade" id="detalleMantenimientoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalLabel">Detalles del Mantenimiento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <label for="placa">Placa:</label>
            <span class="fs-4">{{ detalleMantenimiento?.placa }}</span>
          </div>
          <div class="col-md-6">
            <label for="descripcion">Tipo de mantenimiento:</label>
            <span class="fs-4">{{ detalleMantenimiento?.descripcion }}</span>
          </div>
          <div class="col-md-6">
            <label for="kilometraje">Kilometraje:</label>
            <span class="fs-4">{{ detalleMantenimiento?.kilometraje }}</span>
          </div>
          <div class="col-md-6">
            <label for="proxcambio">Próximo Cambio:</label>
            <span class="fs-4">{{ detalleMantenimiento?.proxcambio }}</span>
          </div>
          <div class="col-md-6">
            <label for="proxcambio">fecha:</label>
            <span class="fs-4">{{ detalleMantenimiento?.fecha }}</span>
          </div>
          
          <div class="col-md-6">
            <label for="comentario">Comentario:</label>
            <span class="fs-4">{{ detalleMantenimiento?.comentario}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
  </div>
</div> -->

  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------MODAL DE VER DETALLES------------------------ -->
  <!-- ----------------------------------------------------------------------- -->


  <div class="modal fade" id="detalleMantenimientoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Detalles del Mantenimiento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Placa:</strong> {{ detalleMantenimiento?.placa }}
            </li>
            <li class="list-group-item">
              <strong>Tipo de mantenimiento:</strong> {{ detalleMantenimiento?.descripcion }}
            </li>
            <li class="list-group-item">
              <strong>Kilometraje:</strong> {{ detalleMantenimiento?.kilometraje }}
            </li>
            <li class="list-group-item">
              <strong>Próximo Cambio:</strong> {{ detalleMantenimiento?.proxcambio }}
            </li>
            <li class="list-group-item">
              <strong>Fecha:</strong> {{ detalleMantenimiento?.fecha }}
            </li>
            <li class="list-group-item">
              <strong>Comentario:</strong> {{ detalleMantenimiento?.comentario }}
            </li>
            <li class="list-group-item">
              <strong>Imagen:</strong>
              <img src="{{ detalleMantenimiento?.imagen }}" alt="Imagen del mantenimiento" style="max-height: 90%;">
            </li>
            <li class="list-group-item">
              <strong>Imagen 2:</strong>
              <!-- Muestra la segunda imagen solo si detalleMantenimiento?.imagen2 no es nula -->
              <img *ngIf="detalleMantenimiento?.imagen2" src="{{ detalleMantenimiento?.imagen2 }}"
                alt="Imagen 2 del mantenimiento" style="max-width: 90%;">
              <!-- Si detalleMantenimiento?.imagen2 es nula, puedes mostrar un mensaje o dejarlo en blanco según tus necesidades -->
              <span *ngIf="!detalleMantenimiento?.imagen2">(No hay imagen 2)</span>
            </li>
          </ul>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------------------------- -->


  <!-- ----------------------------------------------------------------------- -->
  <!-- ----------------------MODAL DE EDITAR MANTENIMIENTOS------------------- -->
  <!-- ----------------------------------------------------------------------- -->

  <div class="modal fade" id="editarMantenimientoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Editar Mantenimiento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario de edición -->
          <form [formGroup]="formularioEdicion" (ngSubmit)="guardarEdicion()">
            <!-- Placa -->
            <div class="mb-3">
              <label for="placa" class="form-label">Placa:</label>
              <input type="text" id="placa" class="form-control" formControlName="placa"
                [value]="editarMantenimiento2?.placa || ''"
                [placeholder]="editarMantenimiento2?.placa ? editarMantenimiento2.placa : 'Ingrese la placa'" readonly>
            </div>

            <!-- Tipo de mantenimiento -->
            <div class="mb-3">
              <label for="descripcion">Tipo de Mantenimiento:</label>
              <select id="descripcion" class="form-control" formControlName="descripcion">
                <option value="" disabled selected>Selecciona un tipo de mantenimiento</option>
                <option *ngFor="let tipoM of tiposM$ | async" [value]="tipoM.nombre">{{ tipoM.nombre }}</option>
              </select>
            </div>

            <!-- Kilometraje -->
            <div class="mb-3">
              <label for="kilometraje" class="form-label">Kilometraje:</label>
              <input type="number" id="kilometraje" class="form-control" formControlName="kilometraje">
            </div>

            <!-- Próximo Cambio -->
            <div class="mb-3">
              <label for="proxcambio" class="form-label">Próximo Cambio:</label>
              <input type="number" id="proxcambio" class="form-control" formControlName="proxcambio">
            </div>

            <!-- Fecha -->
            <div class="mb-3">
              <label for="fecha" class="form-label">Fecha:</label>
              <input type="datetime-local" id="fecha" class="form-control" formControlName="fecha">
          </div>

            <!-- Comentario -->
            <div class="mb-3">
              <label for="comentario" class="form-label">Comentario:</label>
              <textarea id="comentario" class="form-control" formControlName="comentario"></textarea>
            </div>

            <!-- Imagen -->
            <div class="mb-3">
              <label for="imagen" class="form-label">Imagen:</label>
              <img src="{{ editarMantenimiento2?.imagen }}" alt="Imagen del mantenimiento" style="max-height: 90%;">
              <input type="file" id="imagen" class="form-control" (change)="onFileSelected($event)" accept="image/jpeg">
            </div>


            <!-- Imagen 2 -->
            <div class="mb-3">
              <label for="imagen" class="form-label">Imagen2:</label>
              <img *ngIf="editarMantenimiento2?.imagen2" src="{{ editarMantenimiento2?.imagen2 }}"
                alt="Imagen 2 del mantenimiento" style="max-width: 90%;">
              <!-- Si detalleMantenimiento?.imagen2 es nula, puedes mostrar un mensaje o dejarlo en blanco según tus necesidades -->
              <span *ngIf="!editarMantenimiento2?.imagen2">(No hay imagen 2)</span>
              <input type="file" id="imagen2" class="form-control" (change)="onFileSelected2($event)"
                accept="image/jpeg">
            </div>

            <!-- Botones para "Guardar" y "Cerrar" -->
            <div class="modal-footer d-flex justify-content-between">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarModalBtn>Cerrar</button>
              <button type="submit" (click)="guardarEdicion()" class="btn btn-primary">Guardar</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>



</section>