.custom-table tbody tr {
  background-color:#2c7bfe;
  color: #ffffff;
}

.custom-table tbody tr.active-row {
  font-weight: bold;
  color: #2c7bfe;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color:#2c7bfe;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #2c7bfe;
}

/* General modal styling */
.modal-content {
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .modal-header {
    padding: 1rem 1.5rem;
    border-bottom: none;
  }
  
  .modal-title {
    font-weight: 600;
  }
  
  .modal-body {
    padding: 1.5rem;
  }
  
  .modal-footer {
    padding: 1rem 1.5rem;
    border-top: none;
  }
  
  /* Specific styling for this modal */
  #detalleMantenimientoModal .modal-body {
    font-size: 16px;
  }
  
  #detalleMantenimientoModal .row {
    margin-bottom: 15px;
  }
  
  #detalleMantenimientoModal label {
    font-weight: 500;
  }
  
  #detalleMantenimientoModal .fs-4 {
    font-size: 1.25rem;
  }