<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



<nav class="nav">
  <i class="uil uil-bars navOpenBtn"></i>
  <a href="#" class="logo">APPWEB MANKAR</a>
  <ul class="nav-links">
    <i class="uil uil-times navCloseBtn"></i>
    <li><a href="#">Services</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>

<!-- start: Sidebar -->
<div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
  <div class="d-flex align-items-center p-3">
    <a href="#" class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">MANKAR C.A.</a>
    <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
  </div>
  <ul class="sidebar-menu p-3 m-0 mb-0">
    <li class="sidebar-menu-item active">
      <a href="#">
        <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
        Home
      </a>
    </li>
    <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Panel Administrativo</li>
    <li class="sidebar-menu-item">
      <a href="#">
        <i class="fa-solid fa-gear sidebar-menu-item-icon"></i>
        Mantenimientos
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a href="#">
        <i class="fas fa-regular fa-gas-pump sidebar-menu-item-icon"></i> 
        Repostajes
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a href="#">
        <i class="fa-solid fa-truck sidebar-menu-item-icon"></i>
        Unidades
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a href="#"> 
        <i class="fa-solid fa-list sidebar-menu-item-icon"></i> 
        Tipos de mantenimientos
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a href="#">
        <i class="ri-calendar-line sidebar-menu-item-icon"></i>
        Rutas
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a href="#">
        <i class="ri-calendar-line sidebar-menu-item-icon"></i>
        Usuarios
      </a>
    </li>
   
    <li class="sidebar-menu-divider mt-3 mb-1 text-uppercase">Apps</li>
    <li class="sidebar-menu-item has-dropdown">
      <a href="#">
        <i class="ri-shopping-cart-2-line sidebar-menu-item-icon"></i>
        eCommerce
        <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
      </a>
      <ul class="sidebar-dropdown-menu">
        <li class="sidebar-dropdown-menu-item">
          <a href="#">
            Shop
          </a>
        </li>
        <li class="sidebar-dropdown-menu-item">
          <a href="#">
            Checkout
          </a>
        </li>
        <li class="sidebar-dropdown-menu-item">
          <a href="#">
            Details
          </a>
        </li>
        <li class="sidebar-dropdown-menu-item">
          <a href="#">
            Wishlist
          </a>
        </li>
      </ul>
    </li>
    <li class="sidebar-menu-item">
      <a href="#">
        <i class="ri-mail-line sidebar-menu-item-icon"></i>
        Email
      </a>
    </li>
    <li class="sidebar-menu-item">
      <a href="#">
        <i class="ri-calendar-line sidebar-menu-item-icon"></i>
        Calendar
      </a>
    </li>
  </ul>
</div>
<div class="sidebar-overlay"></div>
<!-- end: Sidebar -->

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">

    <!-- Modal ADD-->
    <div class="modal fade" id="agregarNuevoMantenimiento" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Ingreso Mantenimiento</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form [formGroup]="form2" (ngSubmit)="onSubmit()">
              <!-- Placa -->
              <label for="placa">Placa:</label>
              <select id="placa" formControlName="placa" class="form-control">
                <option value="" disabled selected>Selecciona una placa</option>
                <option *ngFor="let unidad of unidades$ | async" [value]="unidad.placa">{{ unidad.placa }}</option>
              </select>
              <!-- Descripción -->
              <div class="form-group">
                <label for="descripcion">Tipo de Mantenimiento:</label>
                <select id="descripcion" class="form-control" formControlName="descripcion">
                  <option value="" disabled selected>Selecciona un tipo de mantenimiento</option>
                  <option *ngFor="let tipoM of tiposM$ | async" [value]="tipoM.nombre">{{ tipoM.nombre }}</option>
                </select>
              </div>
              <!-- Kilometraje -->
              <div class="form-group">
                <label for="kilometraje">Kilometraje:</label>
                <input type="number" id="kilometraje" class="form-control" formControlName="kilometraje">
              </div>
              <!-- Próximo Cambio -->
              <div class="form-group">
                <label for="proxcambio">Próximo Cambio:</label>
                <input type="number" id="proxcambio" class="form-control" formControlName="proxcambio">
              </div>
              <!-- Fecha -->
              <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="datetime-local" id="fecha" class="form-control" formControlName="fecha">
              </div>
              <!-- Comentario -->
              <div class="form-group">
                <label for="comentario">Comentario:</label>
                <textarea id="comentario" class="form-control" formControlName="comentario"></textarea>
              </div>
              <!-- Imagen -->
              <div class="form-group">
                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" class="form-control" (change)="onFileSelected($event)"
                  accept="image/jpeg">
              </div>
              <div class="form-group">
                <label for="imagen2">Imagen 2:</label>
                <input type="file" id="imagen2" class="form-control" (change)="onFileSelected2($event)"
                  accept="image/jpeg">
              </div>
              <div class="form-group text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarModalBtn2>Cerrar</button>
                <button type="submit" class="btn btn-primary">Enviar Mantenimiento</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------------------------------- -->
    <!-- --------------------------Tabla DE Mantenimientos--------------------------------- -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <span class="h2">Lista de Mantenimientos</span>
          <button class="btn btn-success btn-lg float-right" data-bs-toggle="modal"
            data-bs-target="#agregarNuevoMantenimiento">
            <i class="fas fa-plus"></i> Agregar mantenimiento
          </button>
          <table class="table table-striped mt-4">
            <!--     <table class="mt-5 table-auto content-table twhitespace-no-wrap"> -->
            <!-- class="table table-striped mt-5" -->
            <thead>
              <tr>
                <th class="px-4 py-3 title-font tracking-wider font-medium rounded-tl rounded-bl">Placa</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">Kilómetraje Actual</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">Kilómetraje Próximo</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">Tipo mantenimiento</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">Fecha</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium">Opciones</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let mantenimiento of mantenimientos">
                <td (click)="verDetalles(mantenimiento)" data-bs-toggle="modal"
                  data-bs-target="#detalleMantenimientoModal">{{ mantenimiento.placa }}</td>
                <td (click)="verDetalles(mantenimiento)" data-bs-toggle="modal"
                  data-bs-target="#detalleMantenimientoModal">{{ mantenimiento.kilometraje }}</td>
                <td (click)="verDetalles(mantenimiento)" data-bs-toggle="modal"
                  data-bs-target="#detalleMantenimientoModal">{{ mantenimiento.proxcambio }}</td>
                <td (click)="verDetalles(mantenimiento)" data-bs-toggle="modal"
                  data-bs-target="#detalleMantenimientoModal">{{ mantenimiento.descripcion }}</td>
                <td (click)="verDetalles(mantenimiento)" data-bs-toggle="modal"
                  data-bs-target="#detalleMantenimientoModal">{{ mantenimiento.fecha | date }}</td>
                <td>

                  <button (click)="confirmarEliminar(mantenimiento)">
                    <i class="fas fa-trash-alt fa-lg text-danger"></i>
                  </button>

                  <button (click)="editarMantenimiento(mantenimiento)" data-bs-toggle="modal"
                    data-bs-target="#editarMantenimientoModal">
                    <i class="fas fa-edit fa-lg text-info mr-4"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------MODAL DE VER DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="modal fade" id="detalleMantenimientoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Detalles del Mantenimiento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Placa:</strong> {{ detalleMantenimiento?.placa }}
            </li>
            <li class="list-group-item">
              <strong>Tipo de mantenimiento:</strong> {{ detalleMantenimiento?.descripcion }}
            </li>
            <li class="list-group-item">
              <strong>Kilometraje:</strong> {{ detalleMantenimiento?.kilometraje }}
            </li>
            <li class="list-group-item">
              <strong>Próximo Cambio:</strong> {{ detalleMantenimiento?.proxcambio }}
            </li>
            <li class="list-group-item">
              <strong>Fecha:</strong> {{ detalleMantenimiento?.fecha }}
            </li>
            <li class="list-group-item">
              <strong>Comentario:</strong> {{ detalleMantenimiento?.comentario }}
            </li>
            <li class="list-group-item">
              <strong>Imagen:</strong>
              <img src="{{ detalleMantenimiento?.imagen }}" alt="Imagen del mantenimiento" style="max-height: 90%;">
            </li>
            <li class="list-group-item">
              <strong>Imagen 2:</strong>
              <!-- Muestra la segunda imagen solo si detalleMantenimiento?.imagen2 no es nula -->
              <img *ngIf="detalleMantenimiento?.imagen2" src="{{ detalleMantenimiento?.imagen2 }}"
                alt="Imagen 2 del mantenimiento" style="max-width: 90%;">
              <!-- Si detalleMantenimiento?.imagen2 es nula, puedes mostrar un mensaje o dejarlo en blanco según tus necesidades -->
              <span *ngIf="!detalleMantenimiento?.imagen2">(No hay imagen 2)</span>
            </li>
          </ul>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------FIN DE VER DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->

  <!-- ----------------------------------------------------------------------- -->
  <!-- ----------------------MODAL DE EDITAR MANTENIMIENTOS---------------------------- -->
  <!-- ----------------------------------------------------------------------- -->

  <div class="modal fade" id="editarMantenimientoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Editar Mantenimiento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario de edición -->
          <form [formGroup]="formularioEdicion" (ngSubmit)="guardarEdicion()">
            <!-- Placa -->
            <div class="mb-3">
              <label for="placa" class="form-label">Placa:</label>
              <input type="text" id="placa" class="form-control" formControlName="placa"
                [value]="editarMantenimiento2?.placa || ''"
                [placeholder]="editarMantenimiento2?.placa ? editarMantenimiento2.placa : 'Ingrese la placa'" readonly>
            </div>

            <!-- Tipo de mantenimiento -->
            <div class="mb-3">
              <label for="descripcion">Tipo de Mantenimiento:</label>
              <select id="descripcion" class="form-control" formControlName="descripcion">
                <option value="" disabled selected>Selecciona un tipo de mantenimiento</option>
                <option *ngFor="let tipoM of tiposM$ | async" [value]="tipoM.nombre">{{ tipoM.nombre }}</option>
              </select>
            </div>

            <!-- Kilometraje -->
            <div class="mb-3">
              <label for="kilometraje" class="form-label">Kilometraje:</label>
              <input type="number" id="kilometraje" class="form-control" formControlName="kilometraje">
            </div>

            <!-- Próximo Cambio -->
            <div class="mb-3">
              <label for="proxcambio" class="form-label">Próximo Cambio:</label>
              <input type="number" id="proxcambio" class="form-control" formControlName="proxcambio">
            </div>

            <!-- Fecha -->
            <div class="mb-3">
              <label for="fecha" class="form-label">Fecha:</label>
              <input type="datetime-local" id="fecha" class="form-control" formControlName="fecha">
            </div>

            <!-- Comentario -->
            <div class="mb-3">
              <label for="comentario" class="form-label">Comentario:</label>
              <textarea id="comentario" class="form-control" formControlName="comentario"></textarea>
            </div>

            <!-- Imagen -->
            <div class="mb-3">
              <label for="imagen" class="form-label">Imagen:</label>
              <img src="{{ editarMantenimiento2?.imagen }}" alt="Imagen del mantenimiento" style="max-height: 90%;">
              <input type="file" id="imagen" class="form-control" (change)="onFileSelected($event)" accept="image/jpeg">
            </div>


            <!-- Imagen 2 -->
            <div class="mb-3">
              <label for="imagen" class="form-label">Imagen2:</label>
              <img *ngIf="editarMantenimiento2?.imagen2" src="{{ editarMantenimiento2?.imagen2 }}"
                alt="Imagen 2 del mantenimiento" style="max-width: 90%;">
              <!-- Si detalleMantenimiento?.imagen2 es nula, puedes mostrar un mensaje o dejarlo en blanco según tus necesidades -->
              <span *ngIf="!editarMantenimiento2?.imagen2">(No hay imagen 2)</span>
              <input type="file" id="imagen2" class="form-control" (change)="onFileSelected2($event)"
                accept="image/jpeg">
            </div>

            <!-- Botones para "Guardar" y "Cerrar" -->
            <div class="modal-footer d-flex justify-content-between">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarModalBtn>Cerrar</button>
              <button type="submit" (click)="guardarEdicion()" class="btn btn-primary">Guardar</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------FIN DE EDITAR DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->


</section>