<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<nav class="nav">
  <i class="uil uil-bars navOpenBtn"></i>
  <a href="#" class="logo">APPWEB MANKAR</a>
  <ul class="nav-links"></ul>
</nav>

<!-- start: Sidebar -->
<app-sidebar></app-sidebar>

<div class="sidebar-overlay"></div>
<!-- end: Sidebar -->

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <!-- ----------------------------------------------------------------------- -->
    <!-- --------------------------NUEVAS UNIDADES--------------------------------- -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="modal fade" id="agregarNuevaUnidad" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Ingreso Unidades
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <!-- Placa -->
              <div class="form-group">
                <label for="placa">Placa:</label>
                <input type="text" id="placa" class="form-control" formControlName="placa" />
              </div>

              <!-- Unidad -->
              <div class="form-group">
                <label for="unidad">Unidad:</label>
                <input type="number" id="unidad" class="form-control" formControlName="unidad" />
              </div>

              <!-- Año -->
              <div class="form-group">
                <label for="year">Año:</label>
                <input type="number" id="year" class="form-control" formControlName="year" />
              </div>
              <!-- Chofer -->
              <div class="form-group">
                <label for="chofer">Chofer:</label>
                <input type="text" id="chofer" class="form-control" formControlName="chofer" />
              </div>

              <!-- Color -->
              <div class="form-group">
                <label for="color">Color:</label>
                <input type="text" id="color" class="form-control" formControlName="color" />
              </div>

              <!-- Kilometraje -->
              <div class="form-group">
                <label for="kmac">Kilometraje:</label>
                <input type="number" id="kmac" class="form-control" formControlName="kmac" />
              </div>
              <!-- Marca -->
              <div class="form-group">
                <label for="marca">Marca:</label>
                <input type="text" id="marca" class="form-control" formControlName="marca" />
              </div>
              <!-- Matricula -->
              <div class="form-group">
                <label for="matricula">Matrícula:</label>
                <input type="text" id="matricula" class="form-control" formControlName="matricula" />
              </div>
              <!-- Modelo -->
              <div class="form-group">
                <label for="modelo">Modelo:</label>
                <input type="text" id="modelo" class="form-control" formControlName="modelo" />
              </div>
              <!-- Imagen -->
              <div class="form-group">
                <label for="imagen">Imagen:</label>
                <input type="file" id="imagen" class="form-control" (change)="onFileSelected($event)"
                  accept="image/jpeg" />
              </div>

              <div class="form-group text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarModalBtn2>
                  Cerrar
                </button>
                <button type="submit" class="btn btn-primary">
                  Enviar Unidad
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------------------------------- -->
    <!-- --------------------------Tabla LISTA RUTAS--------------------------------- -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <span class="h2">Lista de Unidades</span>
          <button style="background-color: #2c7bfe" class="btn btn-success btn-lg float-right" data-bs-toggle="modal"
            data-bs-target="#agregarNuevaUnidad">
            <i class="fas fa-plus"></i> Agregar Unidad
          </button>
          <table class="table table-striped mt-4">
            <thead>
              <tr>
                <th class="px-4 py-3 title-font tracking-wider font-medium rounded-tl rounded-bl text-center">
                  Placa
                </th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-center">
                  No. Chasis
                </th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-center">
                  Kilometraje Actual
                </th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-center">
                  Marca
                </th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-center">
                  Cod. Unidad
                </th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-center">
                  Opciones
                </th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let unidad of unidades">
                <td data-bs-toggle="modal" data-bs-target="#detalleunidadModal" (click)="verDetalles(unidad)" class="text-center">
                  {{ unidad.placa }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#detalleunidadModal" (click)="verDetalles(unidad)" class="text-center">
                  {{ unidad.matricula }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#detalleunidadModal" (click)="verDetalles(unidad)" class="text-center">
                  {{ unidad.kmac }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#detalleunidadModal" (click)="verDetalles(unidad)" class="text-center">
                  {{ unidad.marca }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#detalleunidadModal" (click)="verDetalles(unidad)" class="text-center">
                  0{{ unidad.unidad }}
                </td>

                <td  class="text-center">
                  <button (click)="confirmarEliminar(unidad)">
                    <i class="fas fa-trash-alt fa-lg text-danger"></i>
                  </button>


                  <button data-bs-toggle="modal" data-bs-target="#editarUnidadModal" (click)="editarUnidad(unidad)"class="ml-4">
                    <i class="fas fa-edit fa-lg text-info mr-4"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------MODAL DE VER DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="modal fade" id="detalleunidadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Detalles de Unidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush">

            <li class="list-group-item">
              <strong>Placa:</strong> {{ detalleunidad?.placa }}
            </li>
            <li class="list-group-item">
              <strong>Número de Unidad:</strong> {{ detalleunidad?.unidad }}
            </li>
            <li class="list-group-item">
              <strong>Año:</strong> {{ detalleunidad?.year }}
            </li>
            <li class="list-group-item">
              <strong>Chofer:</strong> {{ detalleunidad?.chofer }}
            </li>
            <li class="list-group-item">
              <strong>Color:</strong> {{ detalleunidad?.color }}
            </li>

            <li class="list-group-item">
              <strong>Kilometraje:</strong> {{ detalleunidad?.kmac }}
            </li>
            <li class="list-group-item">
              <strong>Marca:</strong> {{ detalleunidad?.marca }}
            </li>
            <li class="list-group-item">
              <strong>Matrícula:</strong> {{ detalleunidad?.matricula }}
            </li>
            <li class="list-group-item">
              <strong>Modelo:</strong> {{ detalleunidad?.modelo }}
            </li>

            <li class="list-group-item">
              <strong>Imagen:</strong>
              <img src="{{ detalleunidad?.imagen }}" alt="Imagen de unidad" style="max-height: 90%" />
            </li>

          </ul>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------FIN DE VER DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
 

<!-- ----------------------------------------------------------------------- -->
<!-- ----------------------MODAL DE EDITAR UNIDADES---------------------------- -->
<!-- ----------------------------------------------------------------------- -->

<div class="modal fade" id="editarUnidadModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-light">
        <h5 class="modal-title" id="exampleModalLabel">
          Editar Unidad
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Formulario de edición -->
        <form [formGroup]="formularioEdicion" (ngSubmit)="guardarEdicionUnidad()">
          <!-- Placa -->
          <div class="mb-3">
            <label for="placa" class="form-label">Placa:</label>
            <input type="text" id="placa" class="form-control" formControlName="placa"
              [value]="detalleunidad?.placa || ''" [placeholder]="
                detalleunidad?.placa
                  ? detalleunidad.placa
                  : 'Ingrese la placa'
              " readonly />
          </div>

          <!-- Número de Unidad -->
          <div class="mb-3">
            <label for="unidad" class="form-label">Número de Unidad:</label>
            <input type="number" id="unidad" class="form-control" formControlName="unidad"
              [value]="detalleunidad?.unidad || ''" [placeholder]="
                detalleunidad?.unidad
                  ? detalleunidad.unidad
                  : 'Ingrese el número de unidad'
              " />
          </div>

          <!-- Año -->
          <div class="mb-3">
            <label for="year" class="form-label">Año:</label>
            <input type="text" id="year" class="form-control" formControlName="year"
              [value]="detalleunidad?.year || ''" [placeholder]="
                detalleunidad?.year
                  ? detalleunidad.year
                  : 'Ingrese el año'
              " />
          </div>

          <!-- Chofer -->
          <div class="mb-3">
            <label for="chofer" class="form-label">Chofer:</label>
            <input type="text" id="chofer" class="form-control" formControlName="chofer"
              [value]="detalleunidad?.chofer || ''" [placeholder]="
                detalleunidad?.chofer
                  ? detalleunidad.chofer
                  : 'Ingrese el nombre del chofer'
              " />
          </div>

          <!-- Color -->
          <div class="mb-3">
            <label for="color" class="form-label">Color:</label>
            <input type="text" id="color" class="form-control" formControlName="color"
              [value]="detalleunidad?.color || ''" [placeholder]="
                detalleunidad?.color
                  ? detalleunidad.color
                  : 'Ingrese el color'
              " />
          </div>

          <!-- Kilometraje -->
          <div class="mb-3">
            <label for="kmac" class="form-label">Kilometraje:</label>
            <input type="number" id="kmac" class="form-control" formControlName="kmac"
              [value]="detalleunidad?.kmac || 0" />
          </div>

          <!-- Marca -->
          <div class="mb-3">
            <label for="marca" class="form-label">Marca:</label>
            <input type="text" id="marca" class="form-control" formControlName="marca"
              [value]="detalleunidad?.marca || ''" [placeholder]="
                detalleunidad?.marca
                  ? detalleunidad.marca
                  : 'Ingrese la marca'
              " />
          </div>

          <!-- Matrícula -->
          <div class="mb-3">
            <label for="matricula" class="form-label">Matrícula:</label>
            <input type="text" id="matricula" class="form-control" formControlName="matricula"
              [value]="detalleunidad?.matricula || ''" [placeholder]="
                detalleunidad?.matricula
                  ? detalleunidad.matricula
                  : 'Ingrese la matrícula'
              " />
          </div>

          <!-- Modelo -->
          <div class="mb-3">
            <label for="modelo" class="form-label">Modelo:</label>
            <input type="text" id="modelo" class="form-control" formControlName="modelo"
              [value]="detalleunidad?.modelo || ''" [placeholder]="
                detalleunidad?.modelo
                  ? detalleunidad.modelo
                  : 'Ingrese el modelo'
              " />
          </div>

          <!-- Imagen -->
          <div class="mb-3">
            <label for="imagen" class="form-label">Imagen:</label>
            <img src="{{ detalleunidad?.imagen }}" alt="Imagen de unidad" style="max-height: 90%" />
            <input type="file" id="imagen" class="form-control" (change)="onFileSelected($event)" accept="image/jpeg" />
          </div>

          <!-- Botones para "Guardar" y "Cerrar" -->
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarModalBtn>
              Cerrar
            </button>
            <button type="submit" class="btn btn-primary">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ----------------------------------------------------------------------- -->
<!-- --------------------------FIN DE EDITAR UNIDADES--------------------------------- -->
<!-- ----------------------------------------------------------------------- -->



</section>