 

<nav class="nav">
  <i class="uil uil-bars navOpenBtn"></i>
  <a href="#" class="logo">APPWEB MANKAR</a>
  <ul class="nav-links">

  </ul>
</nav>

<!-- start: Sidebar -->
<app-sidebar></app-sidebar>

<div class="sidebar-overlay"></div>
<!-- end: Sidebar -->



<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">



    <!-- Modal ADD-->

    <div class="modal fade" id="agregarNuevoTipoMantenimiento" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Ingreso Tipo Mantenimiento
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">


              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input id="nombre" class="form-control" formControlName="nombre" />
              </div>

              <div class="form-group">
                <label for="prox">Próximo Cambio:</label>
                <input type="number" id="prox" class="form-control" formControlName="prox" />
              </div>


              <div class="form-group text-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarModalBtn2>
                  Cerrar
                </button>
                <button type="submit" class="btn btn-primary">
                  Enviar Mantenimiento
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------------------------------------------------------------- -->
    <!-- --------------------------Tabla DE Mantenimientos--------------------------------- -->
    <!-- ----------------------------------------------------------------------- -->

    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <span class="h2">Lista de Tipos Mantenimientos</span>
          <button style="background-color :#2c7bfe;" class="btn btn-success btn-lg float-right" data-bs-toggle="modal"
            data-bs-target="#agregarNuevoTipoMantenimiento">
            <i class="fas fa-plus"></i> Agregar tipo de mantenimiento
          </button>
          <table class="table table-striped mt-4">

            <thead>
              <tr>
                <th class="px-4 py-3 title-font tracking-wider font-medium rounded-tl rounded-bl" class="text-center">
                  Nombre
                </th>
                <th class="px-4 py-3 title-font tracking-wider font-medium" class="text-center">
                  Duracion en kilometros
                </th>
                <th class="px-4 py-3 title-font tracking-wider font-medium" class="text-center">
                  Opciones
                </th>

              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let tiposMante of tiposMante">
                <td data-bs-toggle="modal" data-bs-target="#detalletiposMModal" (click)="verDetalles(tiposMante)"
                  class="text-center">
                  {{ tiposMante.nombre }}
                </td>
                <td data-bs-toggle="modal" data-bs-target="#detalletiposMModal" (click)="verDetalles(tiposMante)"
                  class="text-center">
                  {{ tiposMante.prox < 100 ? 'Indefinido' : tiposMante.prox | number: '1.0-0' }} </td>

                <td class="text-center">
                  <button (click)="confirmarEliminar(tiposMante)">
                    <i class="fas fa-trash-alt fa-lg text-danger"></i>
                  </button>

                  <button (click)="editarTiposM(tiposMante)" data-bs-toggle="modal" data-bs-target="#editarTiposMModal"
                    class="ml-4">
                    <i class="fas fa-edit fa-lg text-info mr-4"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------MODAL DE VER DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
  <div class="modal fade" id="detalletiposMModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLabel">
            Detalles del Tipo de Mantenimiento
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Nombre:</strong> {{ detalletiposM?.nombre }}
            </li>
            <li class="list-group-item">
              <strong>Kilometraje:</strong>
              {{ detalletiposM?.prox < 100 ? 'Indefinido' : detalletiposM?.prox | number: '1.0-0' }} </li>
          </ul>
        </div>
        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------FIN DE VER DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->

  <!-- ----------------------------------------------------------------------- -->
  <!-- ----------------------MODAL DE EDITAR Tipos MANTENIMIENTOS---------------------------- -->
  <!-- ----------------------------------------------------------------------- -->

  <!-- Modal de Editar Tipos de Mantenimientos -->
  <div class="modal fade" id="editarTiposMModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLabel">Editar Tipo de Mantenimiento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario de edición -->
          <form [formGroup]="formularioEdicion" (ngSubmit)="guardarEdicionTiposM()">
            <!-- Nombre del Mantenimiento -->
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre del Mantenimiento:</label>
              <input type="text" id="nombre" class="form-control" formControlName="nombre"
                [value]="detalletiposM?.nombre || ''" [placeholder]="
              detalletiposM?.nombre
                  ? detalletiposM.nombre
                  : 'Ingrese el nombre del mantenimiento'
              " />
            </div>

            <!-- Kilometraje -->
            <div class="mb-3">
              <label for="prox" class="form-label">Kilometraje:</label>
              <input type="number" id="prox" class="form-control" formControlName="prox"
                [value]="detalletiposM?.prox || 0" />
            </div>

            <!-- Botones para "Guardar" y "Cerrar" -->
            <div class="modal-footer d-flex justify-content-between">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cerrarModalBtnMantenimiento>
                Cerrar
              </button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- ----------------------------------------------------------------------- -->
  <!-- --------------------------FIN DE EDITAR DETALLES--------------------------------- -->
  <!-- ----------------------------------------------------------------------- -->
</section>