<link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header text-center bg-primary text-white">
          <h3>Formulario de Mantenimiento</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <!-- Kilometraje -->
            <div class="form-group">
              <label for="kilometraje">Kilometraje:</label>
              <input type="number" id="kilometraje" class="form-control" formControlName="kilometraje">
            </div>

            <!-- Próximo Cambio -->
            <div class="form-group">
              <label for="proxcambio">Próximo Cambio:</label>
              <input type="number" id="proxcambio" class="form-control" formControlName="proxcambio">
            </div>

            <!-- Placa -->
            <label for="placa">Placa:</label>
            <select id="placa" formControlName="placa" class="form-control">
              <option value="" disabled selected>Selecciona una placa</option>
              <option *ngFor="let unidad of unidades$ | async" [value]="unidad.placa">{{ unidad.placa }}</option>
            </select>
            <!-- Comentario -->
            <div class="form-group">
              <label for="comentario">Comentario:</label>
              <textarea id="comentario" class="form-control" formControlName="comentario"></textarea>
            </div>

            <!-- Descripción -->
            <div class="form-group">
              <label for="descripcion">Tipo de Mantenimiento:</label>
              <select id="descripcion" class="form-control" formControlName="descripcion">
                <option value="" disabled selected>Selecciona un tipo de mantenimiento</option>
                <option *ngFor="let tipoM of tiposM$ | async" [value]="tipoM.nombre">{{ tipoM.nombre }}</option>
              </select>
            </div>
          

            <!-- Fecha -->
            <div class="form-group">
              <label for="fecha">Fecha:</label>
              <input type="datetime-local" id="fecha" class="form-control" formControlName="fecha">
            </div>

            <!-- Imagen -->
            <div class="form-group">
              <label for="imagen">Imagen:</label>
              <input type="text" id="imagen" class="form-control" formControlName="imagen">
            </div>

            <!-- Imagen 2 -->
            <div class="form-group">
              <label for="imagen2">Imagen 2:</label>
              <input type="text" id="imagen2" class="form-control" formControlName="imagen2">
            </div>

            <!-- Estado -->
            <!--
                      <div class="form-group">
                          <div class="form-check">
                              <input type="checkbox" id="estado" class="form-check-input" formControlName="estado">
                              <label class="form-check-label" for="estado">Estado</label>
                          </div>
                      </div>
                      -->

            <!-- Enviar Mantenimiento -->
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary">Enviar Mantenimiento</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>