.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.logo-img {
    display: flex;
    align-items: center;
  }
  
  .logo-img img {
    height: 20em;
    margin: 0 auto;
    display: block; 
  }